/* For ant design */
@import '~antd/dist/antd.css';

/* Header */
.nav-icon{
  height: 70px;
  width: 100px;
}

.nav-item{
  margin-left: 20px;
  padding: 5px;
}

/*Home*/
.home-img{
  width: 50vw;
  height: 80vh;
}

.learn-more-btn{
  margin-top: 20px;
  display: block;
  width: 50%;
  height: 40px;
  background-color: white;
  color: #1890FF;
  border-color: #1890FF;
}

.learn-more-btn:hover{
  background-color: #1890FF;
  color: white;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.whole-page{
  animation: fade .5s ease-in;
}


/*About Us Page */
.about-us-card{
  border-color: #1890FF;
  border-radius: 20px;
  line-height: 2.6;
  width: 60vw;
  margin-right: -90px;
  z-index:-1;
  margin-top: -35px;
}

.about-us-img{
  width:20vw;
  margin-top: -90px;
  z-index: 200;
  margin-left: -100px;
}