/* For ant design */
@import '~antd/dist/antd.css';

/* Header */
.nav-icon{
  height: 70px;
  width: 100px;
}

.nav-item{
  margin-left: 20px;
  padding: 5px;
}

a{
  color: #5E9F4C !important;
}

a:hover{
  color: #5E9F4C !important;
  font-weight: 900;
  padding: 5px 10px;
  background-color: #F0F0F0;
}

/*Home*/
.home-img{
  width: 50vw;
  height: 80vh;
}

.learn-more-btn{
  margin-top: 20px;
  display: block;
  width: 50%;
  height: 40px;
  background-color: white;
  color: #5E9F4C;
  border-color: #5E9F4C;
}

.learn-more-btn:hover{
  background-color: #5E9F4C;
  color: white;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.whole-page{
  animation: fade .5s ease-in;
}


/*About Us Page */
.about-us-card{
  border-color: #5E9F4C;
  border-radius: 20px;
  line-height: 2.6;
  width: 60vw;
  margin-right: -90px;
  z-index:-1;
  margin-top: -35px;
}

.about-us-img{
  width:20vw;
  margin-top: -90px;
  z-index: 200;
  margin-left: -100px;
  border-radius: 50px;
  height: 30vh;
}

.about-us-img-low{
  width:20vw;
  margin-bottom: -90px;
  z-index: 200;
  margin-right: -100px;
  border-radius: 50px;
  
}

.holder{
  margin-top: -80px;
  margin-right: -150px;
}

.service-card{
  width: 300px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.service-card-img {
  width: 100%;
  height: 200px;
}

/*Contact Us Page */

.contact-img{
  margin-top: -200px;
}

.contact-form{
  margin-top: -200px;
  width: 100%;
}

.clients-img{
  margin-top: -50px;
}